<% include ./partials/nav %>
  <section class="header6 cid-sNAVEWJaCy" id="header6-c">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><div><strong>Everything You Need to Find the Perfect Home</strong></div></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7"><br>Leon Homes agents have the experience, training, and advanced tools you need to help you find the right home, negotiate the best price, and get the professional advice that will open a door to a new chapter of your life.</p>
                
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sNAVOXyRbM" id="features16-d">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Your Home, Your Future</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            When you buy a home, it’s not just about a house; it’s about finding a space that offers you and your family the best future possible. As your trusted advisors, our agents are ready to walk with you through every stage of your journey – from guiding you through different communities, to matching you with a home that you can love for years to come.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-warning display-4" href="https://mobiri.se">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-mart-production-7414952.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features13 cid-sNB8uiUJpt" id="features14-g">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-4 mbr-fonts-style display-2"><strong>What to Expect From Your Leon Homes Agent</strong></h3>
            </div>
            <div class="card col-12 col-md-4 col-lg-2 p-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Consultancy &amp; Representation</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Negotiation &amp;</strong><div><strong>Advocacy</strong></div></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-browse mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Market Analysis &amp;</strong><div><strong>Local Expertise</strong></div><div><strong><br></strong></div></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Regulatory</strong><div><strong>Guidance</strong></div></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-paper-plane mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>On-Demand
                            </strong><div><strong>Support</strong></div></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Access to the</strong><div><strong>Latest Listings</strong></div><div><strong><br></strong></div></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info3 cid-sNAWnyU2Ho" id="info3-e">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-1"><strong>Start Your Journey With Leon Homes</strong></h4>
                        
                        <div class="mbr-section-btn mt-3"><a class="btn btn-warning display-4" href="https://mobiri.se">See More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features12 cid-sNC2F4I44C" id="features13-p">

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Easy Home Search</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">It’s not always clear on the best way to get your home search started.<br>Here are a few things you can do to get your home search off to a great start.<br></p>
                        <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="https://mobiri.se">CREATE YOUR LEON HOMES ACCOUNT</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-globe-2 mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7"><strong>1. Create an Account</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Use your email to create a secure account.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-update mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7"><strong>2. Invite</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">We let you invite your family and friends to your search. You can privately see each others’ comments, emoji reactions to homes, and what they have seen and saved.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7"><strong>Search &amp; Save</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Updated every 10 minutes, we give you the latest, most accurate real estate search results across the country.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info2 cid-sNAWB5O4m9" id="info2-f">
    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="wrapper">
                    <h3 class="mbr-section-title mb-4 mbr-fonts-style display-5"><strong>Data at Your Fingertips</strong></h3>
                    <p class="mbr-text mb-4 mbr-fonts-style display-4">
                        We take pride in supporting our home buyers with the industry’s most cutting-edge technologies, which means you’ll have access to up-to-date listings, market statistics, and helpful tools to help you find the right home.</p>
                    
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5"><strong>Your Agent, Your Partner</strong></h3>
                    <p class="mbr-text mbr-fonts-style mb-4 display-4">
                        Our unique cloud-based platform gives every agent access to the technology, training and support they need to help maximize your home’s exposure and get you the best possible price. eXp agents collaborate with industry experts globally, so you can rest assured that you are receiving the highest-quality service every time.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<section class="footer1 cid-sNAmrZ3wXa" once="footers" id="footer1-b">

    
    
    <div class="container">
        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Mobirise Help</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Help Center</li>
                    <li class="mbr-text item-wrap">Mobirise Forums</li>
                    <li class="mbr-text item-wrap">Mobirise Kit</li>
                    <li class="mbr-text item-wrap">Our site</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Themes</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">

                    <li class="mbr-text item-wrap">Mobirise 5</li>
                    <li class="mbr-text item-wrap">Mobirise AMP</li>
                    <li class="mbr-text item-wrap">Mobirise Kit</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Extensions</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Code Editor</li>
                    <li class="mbr-text item-wrap">Form Builder</li>
                    <li class="mbr-text item-wrap">Popup Builder</li>
                    <li class="mbr-text item-wrap">Enterprise</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                    Mobirise is a free offline app for
                    Windows and Mac to easily create small/medium websites, landing pages, online resumes and
                    portfolios.</p>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Social</strong>
                </h5>
                <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/e" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Designed with Mobirise <a href="https://mobirise.site/j" style="color:#aaa;">web page</a> builder</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>