<% include ./partials/nav %>

<section class="header6 cid-sNCG9OO3G5" id="header6-x">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Why Join Leon Homes</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">When you join Leon Homes Realty, you become part of a global family of agents and partners dedicated to transforming the real estate experience. Learn more about how we empower our agents with world-class education, strategic partnership and stock awards.<br></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-danger display-4" href="/users/register">Apply as an Agent&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sNCGS0mkw2" id="features16-y">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Leon Homes Continues to Soar, Lands as No. 1 Mover and Top Independent Brokerage on REAL Trends 500 Report</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Leon Homes Realty’s spectacular growth and success continue to be recognized, as the cloud-based brokerage has landed in the top five of several categories of the elite 2021 REAL Trends 500 Report, including being named the No. 1 mover in transactions, the No. 1 independent in the country and No. 3 in closed transaction sides.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-warning display-4" href="/users/register">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/img-c046c6867a97-1-828x799.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sNCHIvF4IW" id="features16-10">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Powerful Suite of Tools</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Leon Homes Realty provides agents with the innovative tools and services to grow their business. This includes top-tier, lead-generation software, transaction management, content marketing tools, and optional advertising support.<br><br>eXp’s proprietary platform gives agents autonomy and greater visibility into important business metrics such as transactions, commissions, capping status and awards.<br><br><br></p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-warning display-4" href="/users/register">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-mart-production-7415059-980x1470.jpeg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-sNCHIUZVOv" id="features17-11">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/img-3079-828x1018.jpeg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Leon Brooks</strong><br><strong><br></strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">When we set out to transform the real estate experience, I personally thought about what would it take for me, having been a real estate agent, to want to be at eXp over the long haul. It needed to be the place that I would be working at if it existed, which to a large extent had to do with how we thought about compensation and equity opportunities.<br><br>We also knew that we had to create a great environment to work. A place that empowers agents to manage their own businesses while receiving top-notch technology and training, and quick support. A place where entrepreneurial agents can voice their opinions and be heard. And a place where agents can plan for their family’s future.<br><br></p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info3 cid-sNCHbZYpDR" id="info3-z">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-5"><strong>Keep 80-100% of your commissions</strong><div><strong>and enjoy a low $16,000 company cap</strong></div></h4>
                        
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Apply as an agent</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-sNAmrZ3wXa" once="footers" id="footer1-r">


    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/c" style="flex: 1 1; height: 3rem; padding-left: 1rem; display: none"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site" style="color:#aaa; display: none">https://mobirise.com</a> simple web creator</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>